@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Roboto", sans-serif;
  /* color: white; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

/* Canvas */
.base {
  position: fixed;
  bottom: 0px;
  right: 0px;
  transition: ease-in-out 500ms;
  width: auto;
  height: auto;
}

/* Use for IfFC display
 .fcpp_box {
  padding: 8px;
  margin: 0 0 0 auto;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  color: black;
  background-color: whitesmoke;
  box-shadow: 0px 0px 8px black;
  z-index: 0;
  border-radius: 8px;
  transition: ease-in-out 500ms;
  text-shadow: 0px 0px 4px darkgray;
  font-size: 18px;
} */

/* pp Counter parent layout */
.box {
  padding: 16px;
  background-color: #222;
  display: flex;
  margin: 18px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px black, 0px 0px 4px black inset;
  width: 420px;
  height: 38px;
  z-index: 0;
  transition: ease-in-out 500ms;
}

/* Main pp counter layout */
.pp {
  font-size: 32px;
  color: whitesmoke;
  filter: drop-shadow(0px 2px 0px #777);
  margin-left: 4px;
}

/* Hit counter base layout  */
.hits {
  background-color: #333;
  border-radius: 6px;
  margin: 0 0 0 auto;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 4px black inset;
  width: 65%;
  font-size: 20px;
  justify-content: space-around;
  color: whitesmoke;
  transition: ease-in-out 500ms;
}

/* hit100 */
#h100 {
  filter: drop-shadow(0px 1px 0px #777);
  text-shadow: -1px 0px 8px green, 1px 0px 8px green;
}

/* hit50 */
#h50 {
  filter: drop-shadow(0px 1px 0px #777);
  text-shadow: -1px 0px 8px darkgoldenrod, 1px 0px 8px darkgoldenrod;
}

/* hit0 */
#h0 {
  filter: drop-shadow(0px 1px 0px #777);
  text-shadow: -1px 0px 8px darkred, 1px 0px 8px darkred;
}

/* sliderbreak */
#sb {
  filter: drop-shadow(0px 1px 0px #777);
  text-shadow: -1px -1px 8px black, 1px -1px 8px black, -1px 1px 8px black, 1px 1px 8px black;
  transition: ease-in-out 500ms;
}

/* Margin settings for hit counter */
.margin {
  margin-top: auto;
  margin-bottom: auto;
}
